<h2>Circles</h2>

<p>You can add a circle with "Add circle" button and remove a circle by clicking on it.</p>

{{d3-graph
  (pipe
    (d3-select-all 'circle')
    (d3-data (get data '[]'))
  )
  
  (pipe (d3-append 'circle') 
        (d3-attr r=getCircleRadius cx=getXCoord cy=getYCoord)
        (d3-on 'click' (action 'removeCircle'))
  )
  
  (pipe (d3-transition) 
        (d3-attr r=0) 
        (d3-remove)
  )
}}

{{input value=radius}}
<button {{action 'addCircle' radius}}>Add Circle</button>

<hr>
<h2>Conditional</h2>
<p>You can toggle animation.</p>

{{d3-graph
  (pipe
    (d3-select-all 'circle')
    (d3-data (get data '[]'))
  )
  
  (pipe (d3-append 'circle') 
        (d3-attr r=getCircleRadius cx=getXCoord cy=getYCoord)
        (d3-on 'click' (action 'removeCircle'))
  )
            
  (pipe (d3-transition) 
        (unless isDelayed (d3-delay 300) (d3-noop)) 
        (d3-attr r=0) 
        (d3-remove)
  )
}}

<button {{action (toggle 'isDelayed' this)}}>{{if isDelayed 'No' 'With'}} Delay</button>