<h2>Circles</h2>

<p>You can add a circle with "Add circle" button and remove a circle by clicking on it.</p>

<div>
  <label>X: {{input value=x}}</label>
  <label>Y: {{input value=y}}</label>
  <label>Radius: {{input value=radius}}</label>
  
  <button {{action 'addCircle' radius}}>Add Circle</button>
</div>

{{d3-graph
  (pipe
    (d3-select-all 'circle')
    (d3-data (get data '[]') (d3-get 'id'))
  )
  
  (pipe (d3-append 'circle') 
        (d3-attr r=(d3-get 'r') cx=(d3-get 'y') cy=(d3-get 'x'))
        (d3-on 'click' (action 'removeCircle'))
  )
  
  (pipe (d3-transition) 
        (d3-attr r=0) 
        (d3-remove)
  )
}}

<hr>
<h2>Conditional</h2>
<p>You can toggle animation.</p>
<div>
  <button {{action (toggle 'isDelayed' this)}}>{{if isDelayed 'No' 'With'}} Delay</button>
</div>

{{d3-graph
  (pipe
    (d3-select-all 'circle')
    (d3-data (get data '[]') (d3-get 'id'))
  )
  
  (pipe (d3-append 'circle') 
        (d3-attr r=(d3-get 'r') cx=(d3-get 'y') cy=(d3-get 'x'))
        (d3-on 'click' (action 'removeCircle'))
  )
            
  (pipe (d3-transition) 
        (unless isDelayed (d3-delay 300) (d3-noop)) 
        (d3-attr r=0) 
        (d3-remove)
  )
}}

